@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="">Adicionar novo contato</a>
    </div>
    <br />
    <h1>Listagem de Contatos</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Izar</td>
                <td>83</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-danger">Apagar</a>


                    </div>

                </td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Maria</td>
                <td>22</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-danger">Apagar</a>


                    </div>

                </td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Carol</td>
                <td>33</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-danger">Apagar</a>

                    </div>

                </td>


            </tr>
        </tbody>
    </table>
    </divc>

